@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.taichi {
  width: 200px;
  height: 200px;
  animation-duration: 3s;
  animation-name: spin;
  animation-iteration-count: infinite;
  margin: 100px auto;
}

.blackCircle {
  position: relative;
  background-color: black;
  border-radius: 100px 100px 0 0;
  width: 200px;
  height: 100px;
} 

.blackCircle::before {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 100px 100px 0 0;
  width: 100px;
  height: 50px;
  top: 50px;
}

.whiteCircle::before {
  content: '';
  position: absolute;
  background-color: black;
  border-radius: 0 0 100px 100px;
  width: 100px;
  height: 50px;
  left: 100px;
}

.whiteCircle::after {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  left: 140px;
}

.blackCircle::after {
  content: '';
  position: absolute;
  background-color: black;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  top: 70px;
  left: 40px;
}

.whiteCircle {
  position: relative;
  background-color: white;
  border-radius: 0 0 100px 100px;
  width: 200px;
  height: 100px;
}

